<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simats.art">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Art">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AdminLoginActivity" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".AdminUploadActivity" android:exported="false" />
        <activity android:name=".AdminEditArtworkActivity" android:exported="false" />
        <activity android:name=".AdminEventsActivity" android:exported="false" />
        <activity android:name=".AdminAddEventActivity" android:exported="false" />
        
        <activity android:name=".CartActivity" android:exported="false" />
        <activity android:name=".ShoppingCart" android:exported="false" />
        <activity android:name=".Notification" android:exported="false" />
        <activity android:name=".ExploreActivity" android:exported="false" />
        <activity android:name=".FeaturedArtWork1Activity" android:exported="false" />
        <activity android:name=".FeaturedArtWork2Activity" android:exported="false" />
        <activity android:name=".FeaturedArtWork3Activity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".WishlistActivity" android:exported="false" />
        <activity android:name=".MyPurchasesActivity" android:exported="false" />
        <activity android:name=".MyImpactActivity" android:exported="false" />
        <activity android:name=".OrderHistoryActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".LogoutActivity" android:exported="false" />
        
        <activity android:name=".MeetOurArtists" android:exported="false" />
        <activity android:name=".MeetOurArtists2" android:exported="false" />
        <activity android:name=".MeetOurArtists3" android:exported="false" />
        <activity android:name=".MeetOurArtists4" android:exported="false" />

        <activity android:name=".CheckoutPaymentactivity1" android:exported="false" />
        <activity android:name=".checkoutpaymentactivity2" android:exported="false" />
        <activity android:name=".CheckoutPaymentActivity" android:exported="false" />
        <activity android:name=".CheckoutPaymentActivity3" android:exported="false" />
        <activity android:name=".OrderSuccessActivity" android:exported="false" />
        <activity android:name=".Event_And_Exhibition" android:exported="false" />
        <activity android:name=".Event1" android:exported="false" />
        <activity android:name=".Event2" android:exported="false" />
        <activity android:name=".Event3" android:exported="false" />
        <activity android:name=".RegisterForEventActivity" android:exported="false" />
        <activity android:name=".CompleteEventRegistrationActivity" android:exported="false" />

        <activity android:name=".CheckoutActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".RoleSelectionActivity" android:exported="false" />
        <activity android:name=".CreateAccountActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".NotificationsActivity" android:exported="false" />

    </application>
</manifest>
